[login],
[get-started] {
  cursor: pointer;
}

[logout] {
  cursor: pointer;
}

[logout]:hover {
  background-color: #02082b;
  color: white;
}

[user] {
  font-weight: 100;
  border: #02082b solid 1px;
  border-radius: 99px;
  padding: 8px;
  background-color: #02082b;
  color: white !important;
  font-style: normal;
  cursor: pointer;
}

.actives {
  background-color: #5cb8a8;
  color: white;
}

[img] {
  height: 40px;
  width: auto;
}

.custom-active {
  display: inline-block;
  padding-bottom: 2px;
}

.navbar-brand img {
  margin-right: 240px;
  margin-left: 40px;
}

.account-login button {
  margin-left: 1em;
}

.register {
  background-color: #5cb8a8 !important;
  color: white;
  margin-right: 2em;
}

.register:hover {
  background-color: white !important;
  color: #5cb8a8;
}

.bg-custom {
  background-color: #02082b !important;
}

@media screen and (max-width: 328px) {
  .navbar-brand img {
    width: 80px;
  }

  .account-login button {
    margin: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .account-login button {
    margin: 0.1em 0 0 0;
  }
}
