<div class="container">
    <div class="jumbotron">
        <a class="navbar-brand" href="/"><img img src="../../../../assets/image/nl_logo.png" alt="">
        </a>
        <h3 class="alert warning">
            Ooops! The page you are looking for could not be found.
        </h3>
        <div class="navi-btn">
            <button class="col-md-3" routerLink="/" mat-stroked-button>Home</button>
        </div>
        <div class="back-btn">
            <button class="col-md-3" (click)="back()" mat-stroked-button>Go Back</button>
        </div>
    </div>
</div>