<div class="container">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <h6 class="custom-color">
          Change Password
        </h6>
      </mat-card-header>
      <div class="guide">
        <p class="custom-color">To secure your account, the following will be the minimum requirements for your new
          password.</p>
        <ul class="list-group list-group-flush small">
          <li [ngClass]="{'list-group-item-danger':containAtLeastEightChars===false}"
            [class.list-group-item-success]="containAtLeastEightChars" class="list-group-item py-2">
            <small>
              Password must be at least 8 characters in length
            </small>
          </li>
          <li [ngClass]="{'list-group-item-danger':containAtLeastOneLowerCaseLetter===false}"
            [class.list-group-item-success]="containAtLeastOneLowerCaseLetter" class="list-group-item py-2">
            <small>Password should contain at least one lower-case letter
            </small>
          </li>
          <li [ngClass]="{'list-group-item-danger':containAtLeastOneUpperCaseLetter===false}"
            [class.list-group-item-success]="containAtLeastOneUpperCaseLetter" class="list-group-item py-2">
            <small>Password should contain at least one upper-case letter
            </small>
          </li>
          <li [ngClass]="{'list-group-item-danger':containAtLeastOneDigit===false}"
            [class.list-group-item-success]="containAtLeastOneDigit" class="list-group-item">
            <small>
              Password should contain at least one numerical digit
            </small>
          </li>
          <li [ngClass]="{'list-group-item-danger':containAtLeastOneSpecialChar===false}"
            [class.list-group-item-success]="containAtLeastOneSpecialChar" class="list-group-item">
            <small>
              Password should contain at least one special character, such as @, #, $
            </small>
          </li>
          <li [ngClass]="{'list-group-item-danger':containUserNames===true}"
            [class.list-group-item-success]="containUserNames===false" class="list-group-item">
            <small>
              Password should not contain your names, such as your firstname or lastname
            </small>
          </li>
          <li [ngClass]="{'list-group-item-danger':containCompanyNames===true}"
            [class.list-group-item-success]="containCompanyNames===false" class="list-group-item">
            <small>
              Password should not contain company name or an abbreviation
            </small>
          </li>
        </ul>
      </div>
      <mat-card-content>
        <form #passwordForm='ngForm' (ngSubmit)='changePassword(passwordForm)' action="">
          <div class="fields">
            <mat-form-field appearance='outline'>
              <mat-label>Your current password</mat-label>
              <input required [(ngModel)]='userPassword.current_password' matInput placeholder="current password"
                [type]="hide ? 'password' : 'text'" name="current_password" id="">
              <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error>Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline'>
              <mat-label>New password</mat-label>
              <input #new_password='ngModel' (blur)='checkPassword(new_password)' required minlength="8"
                [(ngModel)]='userPassword.new_password' matInput placeholder="new password"
                [type]="hideMain ? 'password' : 'text'" name="new_password" id="new_password">
              <button mat-icon-button matSuffix type="button" (click)="hideMain = !hideMain"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideMain">
                <mat-icon>{{hideMain ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf='new_password?.errors?.required'>Required</mat-error>
              <mat-error *ngIf='new_password?.errors?.minlength'>Minimum length is 8.</mat-error>

            </mat-form-field>

            <mat-form-field appearance='outline'>
              <mat-label>Confirm password</mat-label>
              <input minlength="5" #confirm_password='ngModel' required [(ngModel)]='userPassword.confirm_password'
                matInput placeholder="confirm password" [type]="hideConfirm ? 'password' : 'text'"
                name="confirm_password" id="">
              <button mat-icon-button matSuffix type="button" (click)="hideConfirm = !hideConfirm"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>

              <mat-error *ngIf='confirm_password?.errors?.required'>Required</mat-error>
              <mat-error *ngIf='confirm_password?.errors?.minlength'>Minimum length is 8.</mat-error>

            </mat-form-field>
            <div *ngIf='error' class="alert alert-danger">
              {{errorMessage}}
            </div>
          </div>
          <div class="sub-btns">
            <button class="submit" mat-stroked-button color="primary" [class.spinner]="loader"
              [disabled]="loader">Submit</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>