<div *ngIf='!enforceAdminPassChange' class="container">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header class="custom-color">Change Password</mat-card-header>
      <mat-card-content>
        <form #passwordForm='ngForm' (ngSubmit)='changePassword(passwordForm)' action="">
          <div class="fields">
            <mat-form-field appearance='outline'>
              <mat-label>Your current password</mat-label>
              <input required [(ngModel)]='userPassword.current_password' matInput placeholder="current password"
                [type]="hide ? 'password' : 'text'" name="current_password" id="">
              <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error>Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance='outline'>
              <mat-label>New password</mat-label>
              <input #new_password='ngModel' required minlength="5" [(ngModel)]='userPassword.new_password' matInput
                placeholder="new password" [type]="hideMain ? 'password' : 'text'" name="new_password"
                id="new_password">
              <button mat-icon-button matSuffix type="button" (click)="hideMain = !hideMain"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideMain">
                <mat-icon>{{hideMain ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf='new_password?.errors?.required'>Required</mat-error>
              <mat-error *ngIf='new_password?.errors?.minlength'>Minimum length is 5.</mat-error>

            </mat-form-field>
            <mat-form-field appearance='outline'>
              <mat-label>Confirm password</mat-label>
              <input minlength="5" #confirm_password='ngModel' required [(ngModel)]='userPassword.confirm_password'
                matInput placeholder="confirm password" [type]="hideConfirm ? 'password' : 'text'"
                name="confirm_password" id="">
              <button mat-icon-button matSuffix type="button" (click)="hideConfirm = !hideConfirm"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>

              <mat-error *ngIf='confirm_password?.errors?.required'>Required</mat-error>
              <mat-error *ngIf='confirm_password?.errors?.minlength'>Minimum length is 5.</mat-error>

            </mat-form-field>
            <div *ngIf='error' class="alert alert-danger">
              {{errorMessage}}
            </div>
          </div>
          <div class="sub-btns">
            <button class="submit" mat-stroked-button color="primary" [class.spinner]="loader"
              [disabled]="loader">Submit</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

  </div>
</div>


<app-admin-password-change [currentUser]='currentUser' *ngIf='enforceAdminPassChange'>
</app-admin-password-change>