p.home-text {
  margin-top: 96px;
  color: #02082b;
  font-size: 48px;
  line-height: normal;
}

p.tag-text {
  font-size: medium;
}

.container {
  padding: 1.5em;
}

.home-brand {
  margin-right: 40px;
}

.learn-more {
  margin: 0 0 1em 0;
}

.learn-more button {
  background-color: #02082b !important;
  color: white !important;
}

.learn-more button:hover {
  background-color: #c77fc1 !important;
  transition: 300ms;
}
