<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 container">
      <p class="home-text">
        <strong>Get your laundry & dry cleaning within 24 hours</strong>
      </p>
      <p class="tag-text">
        A convenient laundry solution that is reliable and on time.
      </p>
      <div class="navi-btn">
        <button routerLink="/" mat-stroked-button>Learn more</button>
      </div>
    </div>
    <div class="col-md-4 home-brand">
      <img img src="../../../assets/image/home_image.png" alt="">
    </div>
  </div>
</div>
<app-footer></app-footer>