<div class="container-fluid ">
  <div class="row">
    <div class="col-md-12 footer footer-expand-lg navbar-dark bg-custom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="links">
              <a class="link" routerLink='.' (click)='getinTouchDialog()'> Get in touch
              </a>
              <a class="link" routerLink='.' (click)='termsDialog()'> Terms and conditions </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="social-buttons">
              <a href="">
                <small>FACEBOOK |</small>
              </a>
              <a href="">
                <small>TWITTER |</small>
              </a>

              <a href="">
                <small>INSTAGRAM</small>
              </a>

            </div>
          </div>
        </div>

      </div>
      <footer><small>Made with <span style="color: white;">&#9829;</span> | © {{thisYear}}. All rights reserved.</small>
      </footer>
    </div>
  </div>
</div>