<app-navbar></app-navbar>
<nb-layout>
  <nb-layout-column>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <mat-card>
            <div class="password-change">
              <h5 class="theme-color">Change Password</h5>
              <p class="theme-color">
                <small>You are required to change your password.</small>
              </p>
              <div class="user-form">
                <form #passwordForm="ngForm" (ngSubmit)="changePassword(passwordForm)" novalidate
                  [mustMatch]="['password', 'confirm_password']">
                  <div class="fields">
                    <div class="password" *ngIf="!viewOtpField">
                      <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input required [(ngModel)]="passwordChangeForm.password" #password="ngModel" minlength="5"
                          matInput type="password" name="password" id="password">
                        <mat-error *ngIf="password?.errors?.required">required</mat-error>
                        <mat-error *ngIf="password?.errors?.minlength">Password must have at least 5
                          characters</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                        <mat-label>Confirm New Password</mat-label>
                        <input required [(ngModel)]="passwordChangeForm.confirm_password" #confirm_password="ngModel"
                          matInput type="password" name="confirm_password" id="confirm_password">
                        <mat-error *ngIf="confirm_password?.errors?.required">required</mat-error>
                        <mat-error *ngIf="confirm_password?.errors?.mustMatch">Password does not match</mat-error>
                      </mat-form-field>

                      <button type="button" (click)="getOtp()" [disabled]="password.invalid || confirm_password.invalid"
                        mat-stroked-button color="primary">
                        <i *ngIf="otpRequest" class="fa fa-spinner fa-spin"></i> Submit
                      </button>
                    </div>
                    <div *ngIf="viewOtpField" class="otp-confirm">
                      <button type="button" title="Go back" (click)="showPasswordField()" mat-button color="accent">
                        <mat-icon>arrow_back</mat-icon>
                      </button>

                      <small class="text-success">A 6 digit code has been sent to your email and phone number.</small>
                      <mat-form-field>
                        <mat-label>Enter OTP</mat-label>
                        <input required placeholder="Please enter a 6 digit code" [(ngModel)]="passwordChangeForm.otp"
                          #otp="ngModel" minlength="6" maxlength="6" matInput type="text" name="otp" id="otp">
                        <mat-error *ngIf="otp?.errors?.required">required</mat-error>
                      </mat-form-field>
                      <button mat-stroked-button color="primary">
                        <i *ngIf="passwordChange" class="fa fa-spinner fa-spin"></i> Finish
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>