.password-chnage {
  margin: auto;
  text-align: center;
  margin-top: 2.5em;
}

.user-form {
  margin: auto;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.fields {
  padding: 1.5rem;
}

div.fields mat-form-field {
  width: 100%;
}

@media screen and (max-width: 412px) {
  .user-form {
    width: 100%;
  }
}

.theme-color {
  color: #02082b;
}

mat-form-field mat-label {
  color: #02082b;
  opacity: 1;
}

input {
  font-size: 16px;
  color: #02082b !important;
  border-color: #e9e9f0 !important;
}

::ng-deep.mat-form-field-apperance-outline .mat-form-field-outline {
  background-color: #f4f3f9;
}

::placeholder {
  color: #02082b;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #02082b;
}

::-ms-input-placeholder {
  color: #02082b;
}

mat-label {
  font-size: 16px;
  text-overflow: ellipsis;
}
